/* IMPORTACIÓ DE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


/* BARRA DE NAVEGACIÓ */
body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #FF9F1C;
    border: 3px solid #FF9F1C;
    border-radius: 20px;
  }

/* LO DEMÁS */
body{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin: 100px;
    max-width: 100%;
}

header {
    background: url(imgs/qqsm.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 100px;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50px;
    color: white;
    z-index: 1;
    position: relative;
}

h2{
    font-size: 40px;
}

h3 {
    font-size: 20px;
    font-weight: 100;
    color: grey;
}

p, ul, li{
    color: black;
    line-height: 28px;
    font-family: 'Lora', sans-serif;
}


/* INDEX.PHP */
.container {
    background-color: white;
    border-radius: 10px;
    margin: 100px;
    max-width: 100%;
}

/* BOTONS DE L' INICI.PHP */
.ghof-buttons { text-align: center; }

.play-button { margin-right: 30px; }

.play-button, .halloffame-button {
    display: inline-block;
    padding: 20px 40px;
    margin-top: 50px;
    background-color: #FF9F1C;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    color: black;
    transition-duration: 1s;
}

.play-button:hover, .halloffame-button:hover {
    cursor: pointer;
    transition-duration: 1s;
    background-color: #FFC15E;
    color: white;
}

/* IMATGES DE L'INICI */
.languagesimages{ text-align: center; }

.languagesimages img {
    margin-top: 50px;
    margin-right: 20px;
    width: 120px;
    height: 80px;
    transition-duration: 1s;
}

.languagesimages img:hover{
    cursor: pointer;
    transition-duration: 1s;
    transform: scale(1.1);
    box-shadow: 4px 4px #FFC15E;
}

.presentationimage img{
    margin-top: 50px;
    width: 1650px;
    height: 680px;
}

/* GAME.PHP */
/* Hay que hacer esta sección como el "Wireframe". */
.pregunta{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.questiontitle {
    width: 60%;
    height: 50%;
    background-color: #FFC15E;
    border: 1px solid #FFC15E;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

.respuesta {
    background-color: #F5FF90;
    border: 1px solid #F5FF90;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-transform: capitalize;
    font-family: 'Lora', sans-serif;
    text-align: center;
    line-height: 50px;
    text-transform: capitalize;
    transition-duration: 1s;
}

.respuesta:hover {
    transition-duration: 1s;
    box-shadow: 2px 2px #5f570d81;
    margin-bottom: 20px;
    cursor: pointer;
    text-transform: capitalize;
}

.respuesta.bloqueada {
    background-color: #F5FF90;
    border: 1px solid #F5FF90;
    border-radius: 5px;
    filter: blur(2px);
    margin-bottom: 20px;
    cursor: not-allowed;
}

.pregunta.bloqueada {
    width: 90%;
    border-radius: 5px;
    filter: blur(4px);
    cursor: not-allowed;
}

.pregunta.bloqueada h1{
    background-color: #FFC15E;
    border: 1px solid #FFC15E;
}

#next-question{
    background-color: #FF9F1C;
    border: 1px solid #FF9F1C;
    width: 300px;
    height: 50px;
    font-family: 'Lora', sans-serif;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#inicio-btn {
    background-color: #FF9F1C;
    border: 1px solid #FF9F1C;
    width: 300px;
    height: 50px;
    font-family: 'Lora', sans-serif;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.responder-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF9F1C;
    border: 1px solid #FF9F1C;
    color: black;
    font-family: 'Lora', sans-serif;
    font-size: 14px;
}

/* ESTO SIEMPRE LO ÚLTIMO, PARA ORDENAR*/
/* FOOTER */
.footerinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerinfo p{
    padding-right: 200px;
    color: white;
}

footer {
    background-color: #080357;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
}